.main-container{
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.main-container ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 50px;

}

.main-container li{
    display: flex;
    flex-direction: column;
}

.main-container ul li img{
    max-width: 100%;
}

.main-container ul li footer{
    flex: 1;
    background: #FFF;
    border: 1px solid #eee;
    padding: 15px 20px;
    text-align: left;
    border-radius: 0 0 5px 5px;

}

.main-container ul li footer strong{
    font-size: 16px;
    color: #333;

}

.main-container ul li footer p{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
    line-height: 20px;
    
}

.main-container ul li .buttons{

    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.main-container ul li .buttons button{

    height: 50px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;


}
.main-container ul li .buttons button:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
}

.logo{
    height: 70px;
}

.main-container .empty {

    font-size: 65px;
    color: #999;
    font-weight: bold;
    margin-top: 
}